.ingredientsblock {
  text-align: center;
  max-width: 100%;
}

.buttonDiv {
  text-align: center;
  width: 100%;
  margin-top: 2em;
}

input.nameField {
  font-size: 16pt;
  background: none;
  border: none;
  border-bottom: 1px solid #003366;
}
