<cloud-title>传统美味，小资格调</cloud-title>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
      <p class="fw-bold">
        塔克(墨西哥煎玉米粉卷)
      </p>
      <p class="fw-normal intro fs-4">
        正宗的墨西哥煎玉米粉卷用的是自制的平滑的玉米饼，里面包的东西很多，不只是吝啬地包块肉然后浇些沙拉。
        比如，在墨西哥城，卓柏卡布拉的塔可摊位，有超过100种不同的原料供人们选择。他们的卡车上放着数不清的
        大桶酱汁、配菜和美食。如果你想，你可以把这所有的原料都加上，做一个多重味道爆炸的塔克，
        然后你会意外地重现哈利遇到莎莉的场景。
      </p>
      <p class="fw-normal intro fs-4">
        而且，即使我们喜欢炸玉米饼和创造力，我们也更愿意避免做复杂的数学运算。
        这就是为什么所有炸玉米饼的价格都适中，不管你选择多少或什么配料，每个仅需<span class="fw-bold">4.99</span>元。
      </p>
      <p>点击<a routerLink="/design" class="link-info">此处</a>开始您的炸玉米饼杰作！</p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
      <img class="img-fluid float-end" [lazyLoad]="'assets/TacoPhoto.jpg'" alt="土豆饼" id="image">
    </div>
  </div>
</div>

